<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laços index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<header class="cabecalho">

    <div class="container has-text-centered is-flex is-justify-content-space-between" id="margem">
   <div>
    <nav  role="navigation">
    <div class="nav">
        
            <ul>
            <li><a class="navbar-item" href="index.html">Início</a></li>
            <li><a class="navbar-item" href="quemsomos.html">Quem somos</a></li>
            <li><a class="navbar-item" href="crieumevento.html">Crie um evento</a></li>
            </ul>
        
    </div>
</nav>
</div>
<div class="has-text-centered">
    <div id="titulo"> <h1 class="has-text-white">Laços</h1> </div>
        <p class="subtitle has-text-white">Cultivando Momentos e Colhendo Experiências</p>
    </div>
</div>

</header>



<main class="section">
     <div class="section">
      <form action="log-in" method="POST">
            <h1>log in</h1>
            <div>
                <label for ="login name">nome</label>
                <input type text id="login name" placeholder="Seu nome aqui"  name="nome">
            </div>

            <div>
                <label for ="login password">Senha<label>
                <input type="password" id="login password" name="senha">
            </div>

            <button id="login-button">Enviar!</button>
 
            </form>




    </div>
</main>

<footer>
</footer>

</body>
</html>